body{
    background-color: #D3DEDC;
}

.form-imc{
    background-color: #A267AC;
}

.form-imc input{
    margin: 0.5rem 0;
}

footer{
    background-color: #CE7BB0;
}

footer a{
    color: #FFBCD1;
}